version: '3.8'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    env_file: config/.env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    image: ktotom7/foodgram_backend
    env_file: config/.env
    volumes:
      - static:/static
      - media:/media
    command: bash run_prod.sh
    depends_on:
      - db
  frontend:
    image: ktotom7/foodgram_frontend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    image: ktotom7/foodgram_nginx
    ports:
      - 8002:80
    volumes:
      - static:/static
      - media:/media
